<div class="wrapper">
    <h1>User Log In</h1>
    <br>
     <% if flash.has?(:message) %>
        <div class="isa_error"><%= flash[:message] %></div>
        <br>
    <% end %>
    <br>
    <form action="/login" method="POST">
        <label for="username">Username: </label>
        <input type="text" name="username" />
        <br><br>
        <label for="password">Password:  </label>
        <input type="password" name="password" />
        <br><br>
        <input class="button" type="submit" value="Log In">
    </form> 
</div>
