
<div class="w3-container">

<div class="w3-container">
  <>Input Card</
  <div class="w3-card-4">

    <form class="w3-container">
      <p>
      <input class="w3-input" type="text" name="username">
      <label>username</label></p>
      <p>     
      <input class="w3-input" type="text" name="password">
      <label>password</label></p>
    </form>
    </div>
  </div>
  </div>
</div>