<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<title>GYM Programmer</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<%if logged_in?%>
<!-- Navbar (Sits on top) -->
<div class="w3-top w3-bar w3-dark-grey w3-wide w3-padding w3-card">
<a href="/" class="w3-bar-item w3-button"><b>GYM Programmer</b></a>
<div class="w3-right w3-hide-small">
<!-- Float links to the right. Hide them on small screens -->

<a href='/programs' class="w3-bar-item w3-button">Programs</a>
<a href='/user/<%=current_user.username%>' class="w3-bar-item w3-button">My profile</a>
<a href="/programs/new" class="w3-bar-item w3-button">New Program</a>
<a href='/logout' class="w3-bar-item w3-button">Log Out</a>
</div>
</div>
<%else%>
<div class="w3-top w3-bar w3-dark-grey w3-wide w3-padding w3-card">
<a href="/" class="w3-bar-item w3-button"><b>GYM Programmer</b></a>
<div class="w3-right w3-hide-small">
<a href='/signup' class="w3-bar-item w3-button">Sign Up</a>
<a href='/login' class="w3-bar-item w3-button">Log In</a>
</div>
</div>
<%end%>

<!-- Page Start -->
<div id="home" class="w3-content" style="max-width:1564px">
<div id="menu" class="w3-container w3-black w3-xxlarge w3-padding-64">

<%=yield%>
<!-- Page End -->
</div>

</body>
</html>