
<div class="container">
<%images = [1,2,3,4]%>
<img class="w3-image" src="/images/GYM<%=images.sample%>.PNG" alt="Gym Programmer" width="100%">
<div class="centered" ><h1>GYM Programer</h1></div>
</div>

  